<%- include('partials/header'); -%>

  <form>
    <h2>Signup </h2>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required />
    <div class="email error"></div>
    <label for="password">password</label>
    <input type="password" name="password" id="password" required />
    <div class="password error"></div>
    <button>Sign up</button>
  </form>
  <%- include('partials/footer'); -%>

    <script>
      const form = document.querySelector('form')
      const button = document.querySelector('button')
      const emailError = document.querySelector('.email.error')
      const passwordError = document.querySelector(".password.error")

      button.onclick = async (event) => {
        event.preventDefault()

        //get values
        const email = form.email.value
        const password = form.password.value

        //reset errors
        emailError.textContent = ''
        passwordError.textContent = ''

        console.log(email, password)
        try {
          const res = await fetch('/signup', {
            method: "POST",
            body: JSON.stringify({ email, password }),
            headers: { 'Content-Type': 'application/json' }
          })
          const data = await res.json()
          console.log(data)
          if (data.errors) {
            emailError.textContent = data.errors.email
            passwordError.textContent = data.errors.password
          }

          if (data.user) {
            location.assign('/')
          }
        } catch (err) {
          console.log(err)
        }


      }
    </script>